<div>
  <h2>User: <%= @user.first_name %></h2>
  <div class="product-cards">
    <div class="create mt-3">
      <%= link_to "Add new book",  new_book_path, class: "btn-primary" %>
    </div>
    <% @items.each do |item| %>
      <% if item.available %>
        <%= link_to book_path(item.book) do %>
          <div class="product-card">
            <div class="product-details">
              <div class="product-details1">
                <div class="product-p">
                  <p>Title: <%= item.book.title %></p>
                  <p>Author: <%= item.book.author %></p>
                  <p>Category: <%= item.book.category %></p>
                </div>
                <div>
                  <p class="bold">Condition: <%= item.quality %></p>
                </div>
              </div>
              <div class="product-details2">
                <% if item.book.photo.attached? %>
                  <%= cl_image_tag(item.book.photo.key, crop: :fill, height: 100, class: "product-img") %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

