<%= render 'requests/tabs' %>

<div class="container">
 <h2 class="mt-3">My Books</h2>
  <% @items.each do |item| %>
    <% if item.user == current_user %>
      <div class="product-card" data-toggle="modal" data-target="#modal-<%= item.id %>">
        <div class="product-details">
          <div class="product-details1">
            <div class="product-p">
              <p>Title: <%= item.book.title %></p>
              <p>Author: <%= item.book.author %></p>
              <% if item.available %>
                <p class="bold">Available</p>
              <% else %>
                <p class="bold">Unavailable</p>
              <% end %>
            </div>
            <div>
              <p class="bold">Condition: <%= item.quality %></p>
            </div>
          </div>
          <div class="product-details2">
            <% if item.book.photo.attached? %>
              <%= cl_image_tag(item.book.photo.key, crop: :fill, height: 100, class: "product-img") %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="d-flex justify-content-center mt-3">
              <h5 class="modal-title" id="exampleModalLabel"><%= item.book.title %></h5>
            </div>
            <div class="modal-body mt-2 center">
              <%= link_to book_path(item.book) do %>
                <%= cl_image_tag(item.book.photo.key, crop: :fill, height: 150, class: "product-img") %>
              <% end %>

              <p>Title: <%= item.book.title %></p>
              <p>Author: <%= item.book.author %></p>
              <% if item.available %>
                <p>Available</p>
              <% else %>
                <p>Unavailable</p>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <% if item.available %>
                <%= link_to "Make unavailable", make_unavailable_path(item), class: "btn btn-secondary", method: :patch %>
              <% else %>
                <%= link_to "Make available", make_available_path(item), class: "btn btn-secondary", method: :patch %>
              <% end %>
              <%= link_to "Remove", catalog_item_path(item), class: "btn btn-secondary", method: :delete %>
            </div>
            <div>
              <a class="nav-link dropdown-toggle btn-info" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Condition</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Mint", make_mint_path(item), class: "dropdown-item", method: :patch %>
                  <%= link_to "Near-mint", make_near_mint_path(item), class: "dropdown-item", method: :patch %>
                  <%= link_to "Good", make_good_path(item), class: "dropdown-item", method: :patch%>
                  <%= link_to "Worn", make_worn_path(item), class: "dropdown-item", method: :patch %>
                  <%= link_to "Poor", make_poor_path(item), class: "dropdown-item", method: :patch %>
                </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
