<% @chatrooms.each do |room| %>
  <% if room.user1 == current_user && room.user2 != current_user %>
    <div>
      <%= link_to show_room_path(room) do %>
        <div class="user-messages">
          <div class="width100p">
            <%= cl_image_tag room.user2.photo.key, height: '50px', width: '50px', class: "avatar" %>
            <p><%= room.user2.first_name %></p>
            <div class="width50"></div>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif room.user2 == current_user && room.user1 != current_user %>
    <div>
      <%= link_to show_room_path(room) do %>
        <div class="user-messages">
          <div class="width100p">
            <%= cl_image_tag room.user1.photo.key, height: '45px', width: '45px', class: "avatar" %>
            <p><%= room.user1.first_name %></p>
            <div class="width50"></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
