<div class="navbar navbar-expand-sm navbar-light navbar-lewagon z">
  <div class="ml-1">
    <%= link_to root_path do %>
      <%= image_tag "PS_icon-01.png", height: '60px', width: '60px' %>
    <% end %>
</div>
<div>
  <h1 class="nav-header mr-1">PageSwap</h1>
</div>
  <% if user_signed_in? %>
    <%= cl_image_tag current_user.photo.key, height: '50px', width: '50px', class: "dropdown-toggle avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1566760728319-20b86d2b419e?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8SnBnNktpZGwtSGt8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60", height: '50px', width: '50px', class: "dropdown-toggle avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Home", root_path, class: "dropdown-item" %>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", my_books_path, class: "dropdown-item" %>
      <%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete, class: "dropdown-item" %>
      <%= link_to "Messages", chatrooms_path, class: "dropdown-item" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
