<div data-toggle="modal" data-target="#modal-<%= user.id %>">
  <%= cl_image_tag user.photo.key, height: '45px', width: '45px', class: "avatar" %>
</div>

<div class="modal fade" id="modal-<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-height">
      <div class="d-flex justify-content-around align-items-center p-2 mt-3">
        <%= cl_image_tag user.photo.key, height: '50px', width: '50px', class: "avatar" %>
      </div>
      <div class="modal-body">
        <div class="profile-top">
          <div class="profile-right">
            <div class="line-continer">
              <% user.average_rating.times do %>
                <i class="fas fa-star" ></i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="profile-bottom d-flex justify-content-center mt-4">
          <h5><%= user.first_name %>'s top books</h5>
          <ol>
            <% i = 0 %>
            <% 5.times do %>
              <% if user.catalog_items[i] %>
                <li><%= link_to user.catalog_items[i].book.title, book_path(user.catalog_items[i].book), class: "profile-link" %> </li>
                <% i += 1 %>
              <% else %>
                <% break %>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="modal-footer">
        <% if item %>
          <div>
            <%= link_to "View #{user.first_name}'s page",  user_catalog_items_path(user), class: "btn btn-secondary" %>
            <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Close</button>
          </div>
          <div>
            <%= link_to "Message", user_room_path(user), class: "btn btn-secondary" %>
            <%= link_to "Request Swap", new_catalog_item_request_path(item), class: "btn btn-secondary mt-3" %>
          </div>
          <% else %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= link_to "#{user.first_name}'s page",  user_catalog_items_path(user), class: "btn btn-secondary" %>
            <%= link_to "Message", user_room_path(user), class: "btn btn-secondary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
