<%= render "tabs" %>

<div class="container mt-3">
  <h2>Pending Swaps</h2>
  <% @requests.each do |request| %>
    <% if (request.buyer_item.user == current_user) && (request.seller_item) %>
      <% @other = request.seller_item.user %>
    <% elsif (request.seller_item) && (request.seller_item.user == current_user) %>
      <% @other = request.buyer_item.user %>
    <% else %>
      <% @other = request.user %>
    <% end %>
      <div class="product-card2 d-flex">
        <div>
          <%= render 'shared/profile', user: current_user, item: nil %>
          <p class="small-title"><%= current_user.first_name %></p>
        </div>
        <div class="product-details3" data-toggle="modal" data-target="#modal-<%= request.id %>">
          <div class="product-details1-smaller2">
            <% if request.buyer_item.book.photo.attached? %>
              <%= cl_image_tag(request.buyer_item.book.photo.key, crop: :fill, height: 80, class: "product-img-smaller") %>
            <% end %>
            <p class="small-title"><%= request.buyer_item.book.title %></p>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <% if request.seller_item %>
              <p class="small-title"><%= request.buyer_item.distance_to(request.seller_item).round(1) %>km</p>
            <% end %>
            <%= image_tag("https://image.flaticon.com/icons/png/512/335/335522.png", crop: :fill, height: 15, width: 15) %>
          </div>
          <div class="product-details2-smaller2">
            <% if request.seller_item %>
              <p class="small-title"><%= request.seller_item.book.title %></p>
              <% if request&.seller_item&.book&.photo&.attached? %>
                <%= cl_image_tag(request.seller_item.book.photo.key, crop: :fill, height: 80, class: "product-img-smaller") %>
              <% end %>
            <% else %>
              <p class="small-title">No book reccomended</p>
              <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Dw1Etemhe9K_LEK8pXzVO0X2tnqkMW8q4Q&usqp=CAU", crop: :fill, height: 80, class: "product-img-smaller") %>
            <% end %>
          </div>
        </div>
        <div>
          <% if @other %>
            <%= render 'shared/profile', user: @other, item: nil %>
            <p class="small-title"><%= @other.first_name %></p>
          <% end %>
        </div>
      </div>

        <div class="modal fade" id="modal-<%= request.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="d-flex justify-content-center mt-3">
                <h5 class="modal-title" id="exampleModalLabel">Trade <%= request.user.first_name %> wants</h5>
              </div>

              <% items = [] %>
              <% request.user.catalog_items.each do |item| %>
                <% items << [item.book.title, item.id] %>
              <% end %>
              <div class="modal-body mt-2">
                <div class='d-flex justify-content-between'>
                  <div class="your-book">
                  <% if request.buyer_item.book.photo.attached? %>
                    <%= link_to book_path(request.buyer_item.book) do %>
                      <%= cl_image_tag(request.buyer_item.book.photo.key, crop: :fill, height: 130, width: 82, class: "product-img") %>
                    <% end %>
                  <% end %>
                  <div>
                    <p class="medium-title"><span class="bold">Title:</span> <%= request.buyer_item.book.title %></p>
                    <p class="medium-title"><span class="bold">Author:</span> <%= request.buyer_item.book.author %></p>
                    <p class="medium-title"><span class="bold">Owner:</span> <%= request.buyer_item.user.first_name %></p>
                    <p class="medium-title"><span class="bold">Address:</span> <%= request.buyer_item.address %></p>
                  </div>
                </div>
                <div class="d-flex justify-content-center p-2 flex-column">
                  <%= image_tag("https://image.flaticon.com/icons/png/512/335/335522.png", crop: :fill, height: 30) %>
                  <% if request.seller_item %>
                    <p class="small-title"><%= request.buyer_item.distance_to(request.seller_item).round(1) %>km</p>
                  <% end %>
                </div>
                <div class="their-book">
                  <% if request.seller_item %>
                  <div>
                    <p class="medium-title"><span class="bold">Title:</span> <%= request.seller_item.book.title %></p>
                    <p class="medium-title"><span class="bold">Author:</span> <%= request.seller_item.book.author %></p>
                    <p class="medium-title"><span class="bold">Owner:</span> <%= request.user.first_name %></p>
                    <p class="medium-title"><span class="bold">Address:</span> <%= request.seller_item.address %></p>
                  </div>
                  <div class="d-flex justify-content-end width100">
                    <% if request.seller_item.book.photo.attached? %>
                      <%= link_to book_path(request.seller_item.book) do %>
                        <%= cl_image_tag(request.seller_item.book.photo.key, crop: :fill, height: 130, width: 82, class: "product-img") %>
                      <% end %>
                    <% end %>
                  </div>
                  <% else %>
                    <p><%= request.user.first_name %> has not suggested a book from their catalog</p>
                  <% end %>
                </div>
              </div>

                <%= simple_form_for(request) do |f| %>
                  <%= f.input :seller_item, collection: items, label: "To change book from #{request.user.first_name} books" %>
                  <div class="d-flex justify-content-between">
                    <%= link_to "Decline", decline_path(request), class: "btn btn-secondary", method: :patch %>
                    <%= link_to "Accept", accept_path(request), class: "btn btn-secondary", method: :patch  %>
                  </div>
                  <div class="d-flex justify-content-between mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit "Update", class: "btn btn-secondary" %>
                    <% if request.buyer_item.user == current_user %>
                      <%= link_to "Message", user_room_path(request.buyer_item.user), class: "btn btn-secondary" %>
                    <% else %>
                      <%= link_to "Message", user_room_path(request.user), class: "btn btn-secondary" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
