<div class="background">
  <div class="d-flex align-items-center flex-column search-form">
    <h1 class="home-header mt-4 mb-4">Read, Swap, Repeat.</h1>

    <%= form_tag root_path, method: :get, html: { autocomplete: "off" } do %>
      <%= text_field_tag :query,
        params[:query],
        autocomplete: 'off',
        input_html: { class: "form-control" },
        placeholder: "Find a book or user"
      %>
      <%= button_tag type: "submit", class: "btn-search" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
<% if @results != nil %>
  <% @results.each do |result| %>
    <% if result.class.name == "Book" %>
      <%= link_to book_path(result), class: "book-link" do %>
        <div class="product-card">
          <div class="product-details">
            <div class="product-details2">
              <% if result.photo.attached? %>
                <%= cl_image_tag(result.photo.key, crop: :fill, height: 120, class: "product-img") %>
              <% end %>
            </div>
            <div class="product-details1">
              <div class="product-p">
                <div>
                  <h6 class="mb-1"><%= result.title %></h6>
                  <p id="small-title"><%= result.author %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to user_catalog_items_path(result) do %>
          <div class="product-card-user">
            <div class="product-details-user">
              <div class="product-details1 width100">
                <div class="product-p-user">
                  <div class="btn btn-primary user-info">
                    <p>First Name: <%= result.first_name %></p>
                    <p>Address: <%= result.address %></p>
                  </div>
                </div>
              </div>
              <div class="product-details2">
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <h2 class="mt-3">Recent Trades</h2>
    <div id="carouselExampleControls" class="carousel mt-3 slide" data-ride="carousel" data-interval="6000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="car-cards p-3 d-flex">
            <%= render 'c-card', request: @requests[0]%>
            <%= render 'c-card', request: @requests[1]%>
          </div>
        </div>
        <div class="carousel-item">
          <div class="car-cards p-3 d-flex">
            <%= render 'c-card', request: @requests[2]%>
            <%= render 'c-card', request: @requests[3]%>
          </div>
        </div>
        <div class="carousel-item">
          <div class="car-cards p-3 d-flex">
            <%= render 'c-card', request: @requests[4]%>
            <%= render 'c-card', request: @requests[5]%>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% end %>
</div>

