<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a book or user"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @results != nil %>
  <% @results.each do |result| %>
    <% if result.author %>
      <%= link_to book_path(result, ci_id: result.id) do %>
        <div class="product-card">
          <div class="product-details">
            <div class="product-details1">
              <div class="product-p">
                <div class="btn btn-primary width100">
                  <p>Title: <%= result.title %></p>
                  <p>Author: <%= result.author %></p>
                  <p>Category: <%= result.category %></p>
                </div>
              </div>
            </div>
            <div class="product-details2">
              <% if result.photo.attached? %>
                <%= cl_image_tag(result.photo.key, crop: :fill, height: 100, class: "product-img") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
<% end %>

<ul>
  <% @users.each do |user| %>
    <%= link_to "#{user.first_name}", user_catalog_items_path(user) %>
  <% end %>
</ul>
