<div class="book-header">
  <div class="book-header-left">
    <div class="book-header-left-top">

      <%= cl_image_tag(@book.photo.key, crop: :fill, height: 120, class: "product-img") %>

      <div class="book-info">
        <p><span class="bold">Title:</span> <%= @book.title %></p>
        <p><span class="bold">Author:</span> <%= @book.author %></p>
        <p><span class="bold">Category:</span> <%= @book.category %></p>
      </div>

    </div>
    <div class="book-header-left-bottom">
      <div class="d-flex justify-content-center mt-2">
        <h4 class="btn btn-primary" data-toggle="modal" data-target="#book-<%= @book.id %>">Add to bookshelf</h4>
      </div>
      <div class="modal fade" id="book-<%= @book.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content modal-height">
            <div class="d-flex justify-content-center mt-3">
              <h5 class="modal-title" id="exampleModalLabel">Add <%= @book.title %> to personal catalog</h5>
            </div>
            <div class="modal-body d-flex justify-content-between">
              <%= simple_form_for(@item) do |f| %>
                <%= f.input :quality %>
                <%= f.input :book, as: :hidden, required: true, autofocus: true, input_html: { :value => @book.id.to_s } %>
                <%= f.input :available, as: :radio_buttons, label: "Mark as available" %>
                <%= f.submit %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="book-header-right p-1">
    <% if @coffee_shops.empty? %>
      <h4 class="your-area">No users with this book in your area</h4>
    <% else %>
      <h4 class="your-area">Users with this book in your area</h4>
    <% end %>
    <ul>
      <% @coffee_shops.each do |shop| %>
      <% i = 0 %>
        <li class="distance-list">
          <%= render 'shared/profile', user: shop[0].user, item: shop[0] %>
          <span class="small"><%= current_user.distance_to([shop[1][0].latitude, shop[1][0].longitude]).round(1) %>km</span>
          <% i += 1 %>
        </li>
        <% if i == 2 %>
          <% break %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="reviews">
  <h4>Reviews</h4>
  <% if user_signed_in? %>
    <%= simple_form_for ([@book, @book_review]), remote: true, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :content, label: false, class: "review_input", placeholder: 'Write a review' %>
      <%= f.input :rating, collection: 1..5, selected: 5, class: "rating-input" %>
      <%= f.button :submit, "Post" %>


    <% end %>
  <% else %>
    <h6>Must be logged in to create a review</h6>
  <% end %>

  <div class="book_reviews mt-3">
    <% if @book.book_reviews.length != 0 %>

      <% @book.book_reviews.reverse.each do |review| %>
        <div class="book-review" id="review-<%= review.id %>">
          <p><%= review.user.first_name %> -- <%= review.content %></p>


        </div>
      <% end %>

    <% else %>

      <p>There have been no reviews published yet</p>

    <% end %>
  </div>
</div>
